    body {
        background-color: black;
        color: white;
        font-size: 30px;
    }
    
    .main-text {
        display: flex;
        height: 50vh;
        width: 100vw;
        justify-content: center;
        align-items: center;
        font-size: 35vw;
    }
    
    .site-description{
        position: relative;
        color: white;
        text-align: center;
        font-family: Helvetica, sans-serif;
    }
